* {
    box-sizing: border-box;
}

.box {
    margin: auto;
    width: 50%;
    height: 80%;
    border: 3px solid rgb(17, 152, 236);
    float: center;
    background-position: center;
    align-items: center;
    text-align: left;
    background-color: whitesmoke;
    padding: 10px;
    position: relative;
}

.top {
    float: center;
    clear: both;
}

.navbar {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: white;
    background-color: lightsteelblue;
    width: 100%;
    height: 50%;
    background-position: center;
    background-size: cover, 50%;
    overflow-x: hidden;
    position: relative;
}

.navbar {
    background-color: whitesmoke;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgb(82, 176, 235);
    color: white;
}

.navbar a.active {
    background-color: whitesmoke;
    color: lightsteelblue;
}

.middle {
    width: 100%;
    padding: 15px;
    float: left;
}

.login {
    background-color: whitesmoke;
    color: darkslategray;
    width: 40%;
    height: 50%;
    border: 20px;
    border-radius: 15px;
    float: right;
    ;
    font-size: 30px;
    font-style: italic;
    padding: 20px;
}

.register {
    background-color: whitesmoke;
    color: darkslategray;
    width: 40%;
    height: 50%;
    border: 20px;
    border-radius: 15px;
    float: left;
    font-size: 30px;
    font-style: italic;
}

.register a {
    text-decoration: none;
    color: darkslategray;
}

.login a {
    text-decoration: none;
    color: darkslategray;
}

.bottom {
    float: center;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    background-color: rgb(17, 152, 236);
    clear: both;
    background-position: center;
    font-weight: bold;
    font-size: 30px;
}

.container {
    float: center;
    background-position: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    padding: 0%;
}

input[type=text],
input[type=date],
input[type=password] {
    width: 40%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: lightgray
}

input[type=text]:focus,
input[type=date]:focus,
input[type=password]:focus {
    background-color: lightblue;
    outline: none;
}

.nav {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: white;
    background-color: rgb(17, 152, 236);
    ;
    width: 100%;
    height: 50%;
    background-position: center;
    background-size: cover, 50%;
    overflow-x: hidden;
    position: relative;
}

.nav {
    background-color: rgb(17, 152, 236);
    overflow: hidden;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: white;
    color: rgb(17, 152, 236);
    ;
}

.nav a.active {
    background-color: rgb(17, 152, 236);
    color: lightsteelblue;
}

.loginbtn {
    background-color: rgb(32, 185, 78);
    color: whitesmoke;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    float: left, center;
    position: relative;
}

.loginbtn:hover {
    opacity: 1;
}

.loginbtn a {
    text-decoration: none;
    color: white;
}